language: node_js
node_js:
  - node
  - 14
  - 13
  - 12
  - 11
  - 10
os:
  - linux
dist: "xenial"

install:
  - npm install
script:
  - npm run lint
  - npm run build:travis
  # - npm run test
# before_deploy:
#   - npm run build:travis
deploy:
  provider: npm
  email: "$NPM_EMAIL"
  api_token: "$NPM_TOKEN"
  cleanup: false
  on:
    tags: true
